.container {
    height: 50px;
    background-color: #bc0b27;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    width: 15%;
}

.buttonPage {
    margin: 10px;
}

.buttonPage button {
    margin: 5px;
    background-color: #f1ae2b;
    border: 1px solid #4a2512;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.buttonPage button:hover {
    color: white;
    background-color: #4a2512;
}